/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #RPsbs-1587,
  #RPsbsr-1587 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    margin-top: 3.5em;
  }

  #RPsbs-1587 .cs-container,
  #RPsbsr-1587 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(2.5rem, 6vw, 4rem);
  }

  #RPsbs-1587 .cs-picture,
  #RPsbsr-1587 .cs-picture {
    width: 100%;
    height: clamp(25rem, 80vw, 47rem);
    display: block;
    position: relative;
  }

  #RPsbs-1587 .cs-picture img,
  #RPsbsr-1587 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #RPsbs-1587 .cs-content,
  #RPsbsr-1587 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    justify-content: center;
  }

  #RPsbs-1587 .cs-title,
  #RPsbsr-1587 .cs-title {
    /* 26 characters wide including spaces */
    max-width: 26ch;
    margin: 0;
  }

  #RPsbs-1587 .cs-card-group,
  #RPsbsr-1587 .cs-card-group {
    width: 100%;
    /* 550px - 630px */
    max-width: clamp(34.375rem, 50vw, 39.375rem);
    padding: 0;
    /* 24px - 40px */
    margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
    display: grid;
    align-items: center;
    gap: clamp(1rem, 4vw, 2.5rem);
  }

  #RPsbs-1587 .cs-item,
  #RPsbsr-1587 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  #RPsbs-1587 .wrapper,
  #RPsbsr-1587 .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
  }

  #RPsbs-1587 .cs-item-number,
  #RPsbsr-1587 .cs-item-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  #RPsbs-1587 .cs-h3,
  #RPsbsr-1587 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  #RPsbs-1587 .cs-item-text,
  #RPsbsr-1587 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }

  #RPsbs-1587 .cs-button-solid,
  #RPsbsr-1587 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5em;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    width: auto;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }

  #RPsbs-1587 .cs-button-solid:before,
  #RPsbsr-1587 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }

  #RPsbs-1587 .cs-button-solid:hover,
  #RPsbsr-1587 .cs-button-solid:hover {
    color: var(--primary);
  }

  #RPsbs-1587 .cs-button-solid:hover:before,
  #RPsbsr-1587 .cs-button-solid:hover:before {
    width: 100%;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

  #RPsbs-1587 .cs-container,
  #RPsbsr-1587 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  #RPsbs-1587 .cs-content,
  #RPsbsr-1587 .cs-content {
    width: 50%;
    max-width: 39.375rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }

  #RPsbs-1587 .cs-card-group,
  #RPsbsr-1587 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }

  #RPsbs-1587 .cs-item,
  #RPsbsr-1587 .cs-item {
    grid-column: span 6;
  }

  #RPsbs-1587 .cs-picture,
  #RPsbsr-1587 .cs-picture {
    height: auto;
    min-height: 32.8125rem;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {

  #RPsbs-1587 .cs-content,
  #RPsbsr-1587 .cs-content {
    padding: 5.25rem 0;
    align-self: center;
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-1587 {
    background-color: #f7f7f7;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RPsbsr-1587 .cs-picture {
    order: 2;
  }
}


/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1152 {
    padding: var(--sectionPadding);
  }

  #gallery-1152 .cs-container {
    width: 100%;
    /* changes to 1280px at large desktop */
    max-width: 59rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }

  #gallery-1152 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #gallery-1152 .cs-topper {
    color: #767676;
  }

  #gallery-1152 .cs-title {
    margin: 0;
  }

  #gallery-1152 .cs-gallery {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 31.25rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }

  #gallery-1152 .cs-image {
    /* 260px - 360px */
    min-height: clamp(16.25rem, 60vw, 20rem);
    border-radius: 0;
    /* clips the image corners */
    overflow: hidden;
    display: block;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
  }

  #gallery-1152 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #gallery-1152 .cs-gallery {
    max-width: 100%;
    grid-template-rows: 1fr;
  }

  #gallery-1152 .cs-image {
    grid-column: span 4;
  }

  #gallery-1152 .cs-image:nth-of-type(4),
  #gallery-1152 .cs-image:nth-of-type(5) {
    grid-column: span 6;
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #gallery-1152 .cs-container {
    max-width: 80rem;
  }

  #gallery-1152 .cs-gallery {
    grid-template-columns: repeat(5, 1fr);
  }

  #gallery-1152 .cs-image {
    grid-column: span 1;
  }

  #gallery-1152 .cs-image:nth-of-type(4),
  #gallery-1152 .cs-image:nth-of-type(5) {
    grid-column: span 1;
  }
}



/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
  #cs-footer-107 {
    padding: 2.5rem 1rem;
    background: #1a1a1a;
  }

  #cs-footer-107 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }

  #cs-footer-107 .cs-ul {
    padding: 0;
    margin: auto;
    display: flex;
    /* make flexbox arrange top to bottom */
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  #cs-footer-107 .cs-li {
    list-style: none;
    text-align: center;
    margin: 0;
  }

  #cs-footer-107 .cs-copyright {
    font-size: 0.9375rem;
    line-height: 1.5em;
    margin-top: 1.25rem;
    color: #a0a3bd;
    display: block;
    /* send to first position at the bottom */
    order: 1;
    /* prevents flexbox from squishing it */
    flex: none;
  }

  #cs-footer-107 .cs-link {
    /* 15px - 17px */
    font-size: clamp(0.9375rem, 2vw, 1.0625rem);
    line-height: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: var(--bodyTextColorWhite);
    position: relative;
  }

  #cs-footer-107 .cs-link:hover:before {
    width: 100%;
  }

  #cs-footer-107 .cs-link:before {
    /* top right box */
    content: "";
    width: 0%;
    height: 0.1875rem;
    background: var(--bodyTextColorWhite);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #cs-footer-107 .cs-ul {
    flex-direction: row;
    /* push everything to the left */
    justify-content: flex-start;
    /* 44px - 88px */
    gap: clamp(2.75rem, 7vw, 5.5rem);
  }

  #cs-footer-107 .cs-copyright {
    /* marign auto on the left pushes away from the rest of the flex children */
    margin: 0 0 0 auto;
    /* send to the right most position */
    order: 2;
  }
}